<a href="https://colab.research.google.com/github/himanshuarora1703/Tutorial-notebooks/blob/main/Feature%20Encoding/Ordinal_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/customer.csv')
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [4]:
# check the info of the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   gender     50 non-null     object
 2   review     50 non-null     object
 3   education  50 non-null     object
 4   purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [7]:
# make x and y

X = df.drop(columns='purchased')
y = df['purchased']

In [8]:
# Do train test split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

X_train.shape,X_test.shape

((40, 4), (10, 4))

In [11]:
# check the value counts in columns

for col in df.columns[1:4]:
  print(col,df[col].unique())

gender ['Female' 'Male']
review ['Average' 'Poor' 'Good']
education ['School' 'UG' 'PG']

In [13]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder

In [18]:
# do the transformations

from sklearn.compose import ColumnTransformer

ord = OrdinalEncoder(categories=[['Poor','Average','Good'],['School', 'UG', 'PG']],dtype=np.int16)
ohe= OneHotEncoder(drop='first',sparse=False,dtype=np.int16)
trans = ColumnTransformer(transformers=[
    ('ordinal',ord,['review','education']),
    ('ohe',ohe,['gender'])
])

In [19]:
X_train_trans = trans.fit_transform(X_train)
X_test_trans = trans.transform(X_test)

In [20]:
X_train.head()

    age  gender   review education
25   57  Female     Good    School
24   16  Female  Average        PG
7    60  Female     Poor    School
14   15    Male     Poor        PG
49   25  Female     Good        UG

In [30]:
trans.named_transformers_['ordinal'].categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [33]:
# encode the target

le = LabelEncoder()
y_train_trans = le.fit_transform(y_train)
y_test_trans = le.transform(y_test)

y_test_trans

le.classes_

array(['No', 'Yes'], dtype=object)